body{
    font-family: "Oswald", sans-serif;
}

.inicio-navbar {
    background-color: #343a40; /* Gris oscuro */
}

footer{
    width: 100%;
    position: relative;
    padding: 1rem 0;
}

.Isla_pascua
{
    color:white;
}